.additional-goods {
  background-color: #ffffff;
  color: #000000;
  margin: 0 20px;
}

.additional-goods__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .additional-goods__wrapper {
    width: 100%;
    max-width: 768px;
  }

  .additional-goods {
    margin-top: 46px;
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods__wrapper {
    width: 100%;
    max-width: 1220px;
  }

  .additional-goods__present {
    display: flex;
    justify-content: space-between;
    margin: 0 110px;
  }

  .additional-goods {
    margin: 0;
  }
}
