.additionally {
  padding: 0 20px;
  background-color: #ffffff;
  color: #000000;
}

.additionally__item {
  background-color: #ffffff;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.additionally-filter__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
  margin-bottom: 34px;
}

.additionally-filter__list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.additionally__order {
  width: 280px;
  margin: 0 auto;
  padding: 7px 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: hsl(97, 53%, 47%);
  border: none;
}

.additionally__field {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.additionally__wrapper {
  width: 280px;
  margin: 0 20px;
}

@media (min-width: @tablet-width) {
  .additionally {
    padding: 0 70px;
  }

  .additionally__wrapper {
    width: 707px;
    margin: 0 auto;
  }

  .additionally-filter__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 123px;
    margin-bottom: 54px;
    width: 628px;
  }

  .additionally__item-application {
    width: 628px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 61px;
  }

  .additionally__field {
    text-align: start;
    font-size: 16px;
  }

  .additionally-filter__item {
    width: 221px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__wrapper {
    width: 1200px;
    margin: 0;
    margin-bottom: 82px;
  }

  .additionally-filter__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px 105px;
    margin-bottom: 54px;
    width: 1200px;
  }

  .additionally__item-application {
    width: 829px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 81px;
  }

  .additionally {
    padding: 0 110px;
  }

  .additionally__order {
    width: 568px;
  }

  .additionally-filter__item {
    font-size: 20px;
    line-height: 30px;
  }

  .additionally__item {
    font-size: 20px;
    line-height: 30px;
  }

  .additionally-filter__title {
    font-size: 36px;
    line-height: 36px;
  }
}
