.additionally {
  padding: 0 20px;
  color: #000000;
  position: relative;
}

.additionally__wrapper {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.additionally::before {
  content: "";
  position: absolute;
  top: 10%;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}

.additionally__item {
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.additionally__order {
  width: 280px;
  margin: 0 auto;
  padding: 10px 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: hsl(97, 53%, 47%);
  border: none;
}

.additionally__button-color:hover {
  background-color: hsl(97, 57%, 43%);
}

.additionally__button-color:active {
  color: rgba(255, 255, 255, 0.3);
}

.additionally__field {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-top: 21px;
}

.additionally__field small {
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .additionally {
    padding: 0;
  }

  .additionally::before {
    top: 24%;
  }

  .additionally__wrapper {
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .additionally__order {
    padding: 15px 45px;
    font-size: 20px;
    line-height: 20px;
  }

  .additionally__field small {
    font-size: 16px;
    line-height: 16px;
  }

  .additionally__item-application {
    width: 628px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 61px;
  }

  .additionally__field {
    text-align: start;
    font-size: 16px;
    margin-top: 16px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 82px;
  }

  .additionally__item-application {
    width: 829px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 81px;
  }

  .additionally {
    padding: 0;
  }

  .additionally::before {
    top: 29%;
  }

  .additionally__order {
    width: 568px;
  }

  .additionally__item {
    font-size: 20px;
    line-height: 30px;
  }
}
