.additionally {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

.additionally__item {
  background-color: #ffffff;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.additionally-filter__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.additionally-filter__list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.additionally__order {
  margin: 0;
  padding: 7px 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: hsl(97, 53%, 47%);
}

.additionally__field {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.additionally__wrapper {
  width: 100%;
  max-width: 280px;
  margin: 0 20px;
}

@media (min-width: @tablet-width) {
  .additionally__wrapper {
    width: 100%;
    max-height: 628px;
    margin: 0 70px;
  }

  .additionally-filter__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 61px;
    margin-bottom: 54px;
    width: 628px;
  }

  .additionally__item-application {
    width: 628px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 61px;
  }

  .additionally__field {
    text-align: start;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__wrapper {
    width: 1024px;
    margin: 0;
  }

  .additionally-filter__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px 105px;
    margin-bottom: 54px;
    width: 1024px;
  }

  .additionally__item-application {
    width: 829px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 81px;
  }
}
