.advantages {
  display: grid;
  background-color: #ffffff;
  color: #000000;
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.advantages__item {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.advantages__item p {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
