.advantages {
  background-color: #ffffff;
  color: #000000;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: start;
  margin: 0;
  margin-bottom: 42px;
}

.advantages__wrapper {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 0;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 45px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__wrapper {
    width: 100%;
    max-width: 708px;
    margin: 0 auto;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 34px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-bottom: 136px;
  }

  .advantages__wrapper {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 70px;
    padding-top: 62px;
  }

  .advantages__title {
    margin-bottom: 40px;
  }
}
