.card-product {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

.card-product__item {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .card-product {
    margin: 0 30px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 0 38px;
  }

  .card-product__item {
    padding-top: 26px;
    padding-bottom: 28px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
  }
}
