.card-food {
  margin: 0;
  padding: 0;
}

.card-food__item {
  background: hsl(0, 0%, 95%);
  color: #000000;
  display: grid;
  padding-left: 20px;
  padding-right: 33px;
  margin-bottom: 20px;
  padding-top: 23px;
}

.card-food__title {
  display: flex;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
}

.card-food__title-name {
  padding: 7px 0;
}

.card-food__slim {
  display: inline-block;
  margin-top: 19px;
  margin-bottom: 22px;
}

.card-food__slim svg:hover {
  width: 26px;
}

.card-food__slim:active {
  color: rgba(0, 0, 0, 0.3);
}

.card-food__pro {
  display: inline-block;
  margin-top: 19px;
  margin-bottom: 22px;
  padding-left: 7px;
}

.card-food__pro svg:hover {
  width: 26px;
}

.card-food__pro:active {
  color: rgba(0, 0, 0, 0.3);
}

.card-food__slim-icon {
  margin-left: 11px;
}

.card-food__pro-icon {
  margin-left: 15px;
}

.card-food__description {
  position: relative;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: start;
  margin: 0;
  padding: 21px 0;
  padding-bottom: 24px;
}

.card-food__description--pro {
  padding: 22px 7px;
}

.card-food__item--image {
  margin-right: 20px;
}

.card-food__item--image-pro {
  margin-right: 11px;
  margin-top: -5px;
}

.card-food__description::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background: hsl(0, 0%, 85%);
}

.card-food__item--pro {
  padding: 29px 13px;
  padding-bottom: 0;
}

.card-food a {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .card-food a {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .card-food__item {
    position: relative;
    width: 708px;
    box-sizing: border-box;
    padding-left: 53px;
    padding-top: 69px;
    padding-bottom: 33px;
    margin-bottom: 30px;
  }

  .card-food__item--image {
    position: absolute;
    top: 80px;
    right: 62px;
    width: 200px;
    height: 211px;
    margin: 0;
  }

  .card-food__title {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .card-food__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 19px;
    padding-bottom: 31px;
  }

  .card-food__slim-icon {
    margin-left: 21px;
  }

  .card-food__pro-icon {
    margin-left: 21px;
  }

  .card-food__text {
    width: 340px;
  }

  .card-food__item--pro {
    padding-top: 79px;
    padding-bottom: 6px;
  }

  .contacts__title-city {
    display: block;
  }

  .card-food__description--pro {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    padding-top: 26px;
    margin-bottom: 32px;
  }

  .card-food__description::after {
    display: none;
  }

  .card-food__item--image-pro {
    width: 268px;
    height: 200px;
    right: 27px;
    top: 96px;
  }

  .card-food__pro {
    margin-bottom: 57px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .card-food {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px 79px;
    margin: 0 auto;
  }

  .card-food__item {
    width: 570px;
    margin: 0;
    padding-top: 43px;
  }

  .card-food__item--image {
    position: static;
    width: 100px;
    height: 106px;
  }

  .card-food__item--pro {
    padding-left: 33px;
    padding-top: 50px;
  }

  .card-food__title-name {
    padding: 35px 60px;
  }

  .card-food__description {
    width: 467px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .card-food__slim {
    margin-top: 0;
  }

  .card-food__item--image-pro {
    width: 134px;
    height: 100px;
  }

  .card-food__item--slim {
    margin-left: 40px;
  }

  .card-food__title-pro {
    padding: 27px 48px;
  }

  .card-food__description--pro {
    margin: 0;
    margin-left: 20px;
    padding-top: 29px;
    padding-bottom: 26px;
  }

  .card-food__pro {
    margin-top: 2px;
    margin-left: 21px;
  }

  .card-food__title {
    margin-bottom: 7px;
  }
}
