.choice-food {
  display: table;
}

.choice-food:hover {
  background-color: hsl(97, 57%, 43%);
}

.choice-food:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .choice-food {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .choice-food {
    margin-left: 105px;
  }
}

