.comment {
  padding: 0 20px;
  color: #000000;
  position: relative;
}

.comment__wrapper {
  margin: 0 auto;
  max-width: 280px;
  margin-bottom: 22px;
}

.comment::before {
  content: "";
  position: absolute;
  top: 7%;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}

.comment__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 39px;
  background-color: #ffffff;
  padding-right: 14px;
  padding-left: 20px;
  margin-left: -20px;
  display: inline-block;
  width: 121px;
}

.comment__field {
  color: #444444;
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 14px;
  max-height: 169px;
  height: 150px;
}

@media (min-width: @tablet-width) {
  .comment {
    padding: 0;
  }

  .comment__title {
    font-size: 36px;
    line-height: 36px;
    margin: 43px 1px;
    margin-bottom: 75px;
    width: 182px;
    padding: 0;
    padding-left: 39px;
    padding-right: 42px;
    margin-left: -39px;
  }

  .comment__wrapper {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
  }

  .comment::before {
    top: 20%;
  }

  .comment__field {
    font-size: 20px;
    line-height: 30px;
    padding: 9px 18px;
    height: 174px;
  }
}

@media (min-width: @desktop-width) {
  .comment__wrapper {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
  }

  .comment__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 28px;
  }

  .comment::before {
    top: 16%;
  }

  .comment {
    padding: 0;
  }

  .comment__field {
    padding: 10px 19px;
    box-sizing: border-box;
  }
}
