.comment {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

.comment__title {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.comment__field {
  color: #444444;
  background-color: #ffffff;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
}

