.comment {
  padding: 0 20px;
  background-color: #ffffff;
  color: #000000;
}

.comment__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.comment__field {
  color: #444444;
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  width: 100%;
  box-sizing: border-box;
}

.comment__wrapper {
  margin: 0 auto;
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .comment {
    padding: 0 70px;
  }

  .comment__wrapper {
    width: 100%;
    max-width: 707px;
  }
}

@media (min-width: @desktop-width) {
  .comment__wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0;
  }

  .comment__title {
    font-size: 36px;
    line-height: 36px;
  }

  .comment {
    padding: 0 110px;
  }
}
