.сontact-owner {
  margin: 0;
  color: #444444;
  margin-bottom: 23px;
  padding: 0 20px;
  position: relative;
}

.сontact-owner__wrapper {
  max-width: 280px;
  margin: 0 auto;
}

.сontact-owner::before {
  content: "";
  position: absolute;
  top: 26%;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
}

.сontact-owner__item--error input {
  border: 2px solid hsl(0, 100%, 75%);
}

.сontact-owner__item--error svg {
  stroke: hsl(0, 100%, 75%);
}


.сontact-owner__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 33px;
  background-color: #ffffff;
  padding-right: 14px;
  padding-left: 20px;
  margin-left: -20px;
  display: inline-block;
  width: 187px;
}

.сontact-owner__tel {
  padding: 13px 0;
}

.сontact-owner__item {
  display: flex;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 14px;
  position: relative;
}

.сontact-owner__email {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  padding: 13px 0;
}

.сontact-owner__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  width: 219px;
  margin-left: 11px;
  padding: 12px 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid hsl(0, 0%, 91%);
}

.сontact-owner__field--email {
  position: absolute;
  content: "";
  top: 15px;
  right: 16px;
  stroke: #222222;
}

.сontact-owner__field--phone {
  position: absolute;
  content: "";
  top: 13px;
  right: 14px;
  fill: #000000;
}

.сontact-owner__field--email:focus {
  stroke: #68b738;
}

.сontact-owner__field--phone:focus {
  fill: #68b738;
}

.сontact-owner__field:hover {
  border: 1px solid hsl(0, 0%, 80%);
}

.сontact-owner__item__email input:focus {
  border: 2px solid #444444;
}

@media (min-width: @tablet-width) {
  .сontact-owner {
    padding: 0;
  }

  .сontact-owner__wrapper {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
  }

  .сontact-owner::before {
    top: 31%;
  }

  .сontact-owner__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 74px;
    margin-bottom: 75px;
    width: 514px;
    padding: 0;
    padding-left: 39px;
    padding-right: 42px;
    margin-left: -39px;
  }

  .сontact-owner__item {
    font-size: 20px;
    line-height: 30px;
  }

  .сontact-owner__item__email input {
    background-position: 98% 50%;
  }

  .сontact-owner__item__tel input {
    background-position: 98% 50%;
  }

  .сontact-owner__email {
    padding-left: 3px;
  }

  .сontact-owner__field {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    margin-left: 19px;
    padding: 0 18px;
    bottom: 1px;
  }

  .сontact-owner__item__tel .сontact-owner__field {
    margin-left: 16px;
  }
}

@media (min-width: @desktop-width) {
  .сontact-owner__wrapper {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
  }

  .сontact-owner {
    padding: 0;
  }

  .сontact-owner__information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 80px;
  }

  .сontact-owner__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 47px;
  }

  .сontact-owner__field {
    width: 486px;
  }

  .сontact-owner__item__tel .сontact-owner__field {
    margin-left: 16px;
    width: 472px;
  }

  .сontact-owner__item__email input {
    background-position: 96% 50%;
  }

  .сontact-owner__item__tel input {
    background-position: 96% 50%;
  }
}
