.copyright__link {
  margin-top: -13px;
}

.copyright__link .copyright__logo {
  padding-top: 8px;
}

.copyright__link img:hover {
  opacity: 0.8;
}

.copyright__link img:active {
  opacity: 0.3;
}

.copyright__logo-icon {
  fill: #666666;
}

.copyright__logo-icon:hover {
  fill: hsl(97, 53%, 47%);
}

.copyright__logo-icon:active {
  fill: hsl(97, 53%, 47%);
  opacity: 0.3;
}

@media (min-width: @desktop-width) {
  .copyright__link {
    margin: 0;
  }

  .copyright__logo-icon {
    margin-top: -4px;
  }

  .copyright__link .copyright__logo {
    padding-top: 5px;
  }
}
