.correction {
  margin: 0;
  color: #222222;
  background-color: #ffffff;
}

.correction__list {
  margin: 0;
}

.correction__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  padding: 0;
}

.correction__wrapper {
  width: 100%;
  max-width: 276px;
  margin: 0 20px;
}

@media (min-width: @tablet-width) {
  .correction__wrapper {
    width: 100%;
    max-width: 630px;
    margin: 0 70px;
  }
}
