.correction {
  margin: 0;
  color: #222222;
  background-color: #ffffff;
  padding: 0 20px;
}

.correction__list {
  margin: 0;
}

.correction__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.correction__wrapper {
  margin: 0 auto;
  border-top: 1px solid hsl(0, 0%, 85%);
  border-bottom: 1px solid hsl(0, 0%, 85%);
}

.correction__weight {
  position: relative;
  display: block;
  padding-left: 23px;
}

.correction__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 50%;
}

.correction__input[type="radio"] + .correction__mark {
  border-radius: 50%;
}

.correction__input[type="radio"]:checked + .correction__mark::before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 13px;
  height: 13px;
  background-color: hsl(97, 53%, 47%);
  border-radius: 50%;
  content: "";
}

.correction__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .correction {
    padding: 0 70px;
  }

  .correction__wrapper {
    width: 630px;
    padding: 25px 27px;
    border: 1px solid hsl(0, 0%, 85%);
  }

  .correction__item {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .correction {
    padding: 0;
    margin: 0;
  }

  .correction__wrapper {
    width: 570px;
    margin: 0;
  }

  .correction__list {
    padding: 25px 28px;
  }

  .correction__item {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 30px;
  }

  .correction__item:last-child {
    margin-bottom: 0;
  }
}
