.example {
  background-color: #ffffff;
  color: #444444;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__results p {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__results {
  background-color: hsl(0, 0%, 92%);
  color: #444444;
  display: flex;
  flex-direction: column;
}

.example__image {
  display: flex;
  margin: 0;
}

.example__text {
  background-color: hsl(0, 0%, 92%);
  color: #000000;
}

.example__text button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}

.example__list {
  display: flex;
  background-color: hsl(0, 0%, 92%);
  color: #444444;
}

.example__item {
  display: flex;
  flex-direction: column;
}

.example__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

.example__item p {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .example__results {
    background-color: #ffffff;
  }

  .example__feature {
    display: flex;
  }

  .example__list {
    background-color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .example__feature {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 92%);
    margin: 0;
  }

  .example__list {
    background-color: hsl(0, 0%, 92%);
  }

  .example__description {
    background-color: hsl(0, 0%, 92%);
  }

  .example__results {
    width: 436px;
  }

  .example {
    position: relative;
  }

  .slider {
    position: absolute;
    top: 10%;
    right: 0%;
  }

  .example__wrapper {
    max-width: 1440px;
  }
}
