.food-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.food-item__image {
  color: #000000;
  margin: 0;
}

.food-item__name {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
}

.food-item__order {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
  background-color: hsl(97, 53%, 47%);
  margin: 0;
  grid-column: span 2;
  text-align: center;
  margin-top: 22px;
  padding: 10px 0;
}

.food-item__list {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.food-item__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.food-item__characteristic {
  list-style-type: none;
  width: 50%;
}

.food-item__description {
  list-style-type: none;
  width: 49%;
  text-align: end;
}

.food-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
  color: #222222;
  margin: 0;
}

.food-item__weight {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
  color: #222222;
  margin: 0;
}

.food-item__image-chicken--average {
  padding-top: 14px;
}

.food-item__image-chicken--big {
  padding-top: 11px;
}

.food-item__image-card {
  margin: 0 auto;
}

.food-item__chicken-big .food-item__order {
  margin-top: 11px;
}

.food-item__fish .food-item__order {
  margin-top: 17px;
}

.food-item__fish img {
  padding-top: 27px;
}

.food-item__fish-big img {
  padding-top: 12px;
}

.food-item__fish-big .food-item__order {
  margin-top: 11px;
}

.food-item__buckwheat img {
  padding-top: 30px;
}

.food-item__buckwheat .food-item__order {
  margin-top: 14px;
}

.food-item__buckwheat-big img {
  padding-top: 12px;
}

.food-item__buckwheat-big .food-item__order {
  margin-top: 11px;
}

.food-item__rice img {
  padding-top: 24px;
}

.food-item__rice .food-item__order {
  margin-top: 14px;
}


@media (min-width: @tablet-width) {
  .food-item__br {
    display: none;
  }

  .food-item {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 95%);
    padding: 36px;
  }

  .food-item__image img {
    width: 161px;
    height: 172px;
    margin-top: -95px;
  }

  .food-item__image-big img {
    width: 168px;
    height: 206px;
    margin-top: -120px;
  }

  .food-item__title {
    text-align: center;
    width: 140px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 32px;
  }

  .food-item__description {
    text-align: end;
  }

  .food-item__list {
    font-size: 16px;
    line-height: 16px;
    margin-top: 13px;
    margin-bottom: 12px;
  }

  .food-item__item {
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
  }

  .food-item__chicken-big .food-item__title {
    margin-top: 26px;
  }

  .food-item__chicken-big .food-item__list {
    margin-bottom: 23px;
  }

  .food-item__fish img {
    margin-top: -109px;
  }

  .food-item__fish .food-item__title {
    margin-top: 32px;
  }

  .food-item__fish .food-item__order {
    margin-top: 21px;
  }

  .food-item__fish-big img {
    margin-top: -124px;
  }

  .food-item__fish-big .food-item__title {
    margin-top: 29px;
  }

  .food-item__fish-big .food-item__list {
    margin-top: 12px;
    margin-bottom: 21px;
  }

  .food-item__buckwheat img {
    margin-top: -111px;
  }

  .food-item__buckwheat .food-item__order {
    margin-top: 20px;
  }

  .food-item__buckwheat-big img {
    margin-top: -122px;
  }

  .food-item__buckwheat-big .food-item__title {
    margin-top: 27px;
  }

  .food-item__buckwheat-big .food-item__order {
    margin-top: 21px;
  }

  .food-item__rice img {
    margin-top: -106px;
  }

  .food-item__rice .food-item__order {
    margin-top: 22px;
  }
}

@media (min-width: @desktop-width) {
  .food-item__image img {
    width: 161px;
    height: 172px;
    margin-top: -107px;
  }

  .food-item__chicken-big img {
    width: 172px;
    height: 206px;
    margin-top: -133px;
  }

  .food-item__chicken-big .food-item__title {
    margin-top: 36px;
  }

  .food-item__title {
    line-height: 21px;
    margin: 0 16px;
    margin-top: 41px;
  }

  .food-item {
    padding: 40px;
  }

  .food-item__list {
    margin-top: 17px;
  }

  .food-item__fish img {
    margin-top: -120px;
  }

  .food-item__fish .food-item__title {
    margin-top: 41px;
  }

  .food-item__fish-big img {
    width: 172px;
    height: 199px;
    margin-top: -131px;
  }

  .food-item__fish-big .food-item__title {
    margin-top: 43px;
  }

  .food-item__buckwheat img {
    margin-top: -123px;
  }

  .food-item__buckwheat-big img {
    width: 172px;
    height: 196px;
    margin-top: -130px;
  }

  .food-item__buckwheat-big .food-item__title {
    margin-top: 43px;
  }

  .food-item__rice img {
    margin-top: -118px;
  }
}
