.food-function {
  color: #ffffff;
}

.food-function__header {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("./img/index-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: 320px 302px;
}

.food-function__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}

.food-function__header a {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.food-function-form {
  background: hsl(97, 53%, 47%);
}

.food-function__intro {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
