.food-list {
  background-color: #ffffff;
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.food-list__item {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
}

