.food-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.food-item__image {
  color: #000000;
  margin: 0;
}

.food-item__name {
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
}

.food-item__order {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
  background-color: hsl(97, 53%, 47%);
  margin: 0;
  grid-column: span 2;
  text-align: center;
}

.food-item__list {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.food-item__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.food-item__characteristic {
  list-style-type: none;
  width: 50%;
}

.food-item__description {
  list-style-type: none;
  width: 50%;
}

.food-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
  color: #222222;
  margin: 0;
}

.food-item__weight {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
  color: #222222;
  margin: 0;
}

.food-item__image-card {
  margin: 0 auto;
  margin-top: 14px;
}

@media (min-width: @tablet-width) {
  .food-item {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 95%);
    padding: 36px;
  }

  .food-item__title {
    text-align: center;
  }

  .food-item__description {
    text-align: end;
  }
}
