.form {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  padding: 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.form-container {
  overflow: hidden;
}

.form__list {
  margin: 0;
}

.form__item label {
  padding: 12px 0;
}

.form__item {
  display: flex;
  margin: 0;
  padding: 0;
  color: #444444;
  background-color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 2px;
  margin-bottom: 12px;
}

.form__item--weight {
  margin-bottom: 14px;
}

.form__item--weight .form__field {
  margin-left: 14px;
}

.form__item--age .form__field {
  margin-left: 11px;
}

.form__item--age label {
  width: 171px;
}

.form__wrapper {
  max-width: 280px;
  margin: 0 auto;
}

.form__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 100%;
  margin-left: 12px;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 16px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  text-transform: uppercase;
}

.food-field:hover {
  border: 1px solid hsl(0, 0%, 80%);
}

.food-field:focus {
  border: 2px solid #444444;
}

.form__field--error {
  border: 2px solid hsl(0, 100%, 75%);
}

.form__weight {
  width: 89px;
}

@media (min-width: @tablet-width) {
  .form {
    padding-left: 65px;
    padding-right: 61px;
    padding-bottom: 0;
    border: none;
  }

  .form__wrapper {
    max-width: 630px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 74px;
  }

  .form__item label {
    padding: 11px 0;
  }

  .form__item {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .form__field {
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 15px;
  }

  .form__item--weight .form__field {
    margin-left: 18px;
  }

  .form__item--age .form__field {
    margin-left: 2px;
  }
}

@media (min-width: @desktop-width) {
  .form-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 78px;
    width: 100%;
    margin: 0 auto;
    max-width: 1240px;
  }

  .form-correction {
    padding: 0 110px;
  }

  .form__wrapper {
    margin: 0;
    width: 569px;
  }

  .form {
    padding: 0;
    margin: 0;
  }

  .form__weight {
    width: 91px;
  }
}
