.heading {
  background-color: #ffffff;
  color: #000000;
  padding: 0 20px;
}

.heading__decoration {
  padding: 27px 0 41px 0;
  border-bottom: 1px solid hsl(0, 0%, 92%);
}

.heading__wrapper {
  margin: 0 auto;
}

.heading__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: start;
  margin: 0;
  margin-bottom: 37px;
}

.heading__info {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .heading__wrapper {
    width: 100%;
    max-width: 707px;
    margin: 0 auto;
  }

  .heading__title {
    font-size: 60px;
    line-height: 60px;
  }

  .heading__info {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .heading__wrapper {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
  }

  .heading {
    padding: 0 110px;
    padding-top: 73px;
  }

  .heading__title {
    padding: 0;
  }

  .heading__info {
    padding: 0;
  }
}
