.heading {
  background-color: #ffffff;
  color: #000000;
}

.heading__wrapper {
  width: 100%;
  max-width: 320px;
}

.heading__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-left: 20px;
}

.heading__info {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .heading__wrapper {
    width: 100%;
    max-width: 768px;
    margin: 0 70px;
  }

  .heading__title {
    font-size: 60px;
    line-height: 60px;
  }

  .heading__info {
    width: 323px;
  }
}

@media (min-width: @desktop-width) {
  .heading__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0;
  }

  .heading__title {
    padding: 0;
  }

  .heading__info {
    padding: 0;
  }
}
