.heading {
  background-color: #ffffff;
  color: #000000;
  padding: 0 20px;
}

.heading__decoration {
  padding: 27px 0 40px 0;
  border-bottom: 1px solid hsl(0, 0%, 92%);
}

.heading__wrapper {
  margin: 0 auto;
  max-width: 280px;
}

.heading__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: start;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .heading__wrapper {
    width: 100%;
    max-width: 707px;
    margin: 0 auto;
  }

  .heading__title {
    font-size: 60px;
    line-height: 60px;
  }

  .heading__decoration {
    padding-top: 64px;
    padding-bottom: 164px;
    border-bottom: none;
  }

  .heading__info {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .heading__wrapper {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
  }

  .heading {
    padding: 0 110px;
  }

  .heading__title {
    padding: 0;
  }

  .heading__info {
    padding: 0;
  }

  .heading__decoration {
    padding-top: 67px;
    padding-bottom: 166px;
  }
}
