.location__image {
  width: 100%;
  display: block;
}

.location {
  position: relative;
}

.location__iframe {
  position: absolute;
  content: "";
  top: 0;
}

.location iframe {
  display: block;
  border: none;
  width: 100vw;
  margin-left: calc((100vw - 100%) / -2);
}


@media (min-width: @tablet-width) {
  .location iframe {
    height: 400px;
  }
}
