.main-header {
  display: flex;
  flex-direction: column;
  color: #000000;
  width: auto;
  min-height: 66px;
  justify-content: space-between;
}

.main-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (max-width: @tablet-width-1px) {
  .main-header__wrapper--opened {
    position: relative;
  }

  .main-header__wrapper--opened:not(.main-header__wrapper--nojs) .main-nav {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
  }
}

.main-header__toggle {
  position: absolute;
  top: 20px;
  right: 25px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 16px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.main-header__logo {
  display: flex;
  padding: 0;
}

.main-header__logo-image img {
  width: 33px;
  height: 38px;
  margin-right: 56px;
  margin-top: 10px;
}

.main-header__logo-image:hover {
  opacity: 0.8;
}

.main-header__logo-image:active {
  opacity: 0.6;
}

.main-header__decoration {
  display: flex;
  position: relative;
  height: 65px;
  padding: 0 20px;
  justify-content: space-between;
}

.main-header__logo-cat-energy {
  margin-top: 23px;
}

.main-header__wrapper--nojs .main-header__toggle {
  display: none;
}

.main-header__wrapper--closed .main-header__close {
  display: none;
}

.main-header__wrapper--opened .main-header__show {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 707px;
    margin: 0 auto;
  }

  .main-header__logo-image img {
    margin-top: 23px;
    width: 174px;
    height: 52px;
  }

  .main-header__logo-cat-energy {
    display: none;
  }

  .main-header__decoration {
    width: 174px;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 51px;
  }

  .main-header__toggle {
    display: none;
  }
}


@media (min-width: @desktop-width) {
  .main-header {
    padding-top: 53px;
    background-color: none;
  }

  .main-header__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .main-header__decoration {
    width: 202px;
    height: 59px;
  }

  .main-header__logo-image img {
    width: 202px;
    height: 59px;
    margin-top: 0;
  }

  .main-header__logo-cat-energy img {
    margin-top: 23px;
  }
}

@media (min-width: 767px) {
  .main-header__decoration--nojs .main-header__decoration {
    position: static;
    min-height: 0;
  }

  .main-header__decoration--nojs .main-header__toggle {
    display: none;
  }

  &--active {
    display: block;
  }
}
