.main-footer {
  background: hsl(0, 0%, 95%);
  margin: 0;
  padding: 0;
}

.main-footer__logo {
  width: 280px;
  color: #000000;
  display: inline-block;
  margin: 0 auto;
  margin-top: 36px;
  border-bottom: 1px solid hsl(0, 0%, 85%);
  padding-bottom: 29px;
  text-align: center;
}

.main-footer__social {
  margin: 0;
  color: #000000;
}

.main-footer__copyright {
  width: 280px;
  color: #000000;
  display: flex;
  margin: 31px 0;
  justify-content: space-between;
}

.main-footer__wrapper {
  background: hsl(0, 0%, 95%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    width: 100%;
    max-width: 708px;
    flex-direction: inherit;
    justify-content: space-between;
    margin: 0 auto;
    padding: 45px 0;
  }

  .main-footer__logo {
    margin: 23px 0;
    width: 128px;
    border-bottom: none;
  }

  .main-footer__copyright {
    width: 163px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 38px 111px;
    box-sizing: border-box;
  }

  .main-footer__copyright {
    margin: 25px 0;
  }
}
