.main-header {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  justify-content: space-between;
}

.main-header__logo-image {
  height: 65px;
}

.main-header__decoration {
  display: flex;
}

.main-header__logo-cat-energy {
  height: 65px;
}

.main-header__toggle {
  width: 24px;
  height: 16px;
}

@media (min-width: @tablet-width) {
  .main-header {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 100%;
    max-width: 1440px;
  }
}
