.main-contacts {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.main-contacts__wrapper {
  background-color: hsl(0, 0%, 95%);
  width: 100%;
  max-width: 320px;
}

.main-contacts__dealer {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.main-contacts__image {
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .main-contacts__dealer {
    width: 768px;
  }

  .main-contacts__wrapper {
    width: 100%;
    max-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .main-contacts {
    background-color: #ffffff;
  }

  .main-contacts__wrapper {
    position: relative;
  }

  .main-contacts__dealer {
    position: absolute;
    width: 565px;
    top: 30%;
    left: 0%;
  }
}
