.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    width: 441px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 480px;
  }
}
