.main-footer {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: hsl(0, 0%, 95%);
}

.main-footer__logo {
  margin: 0;
  background: hsl(0, 0%, 95%);
  color: #000000;
}

.main-footer__social {
  margin: 0;
  background: hsl(0, 0%, 95%);
  color: #000000;
}

.main-footer__copyright {
  margin: 0;
  background: hsl(0, 0%, 95%);
  color: #000000;
  display: flex;
}
