.main-header {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
}

.main-header__logo-image {
  height: 65px;
}

.main-header__logo-cat-energy {
  height: 65px;
}

.main-header__toggle {
  width: 24px;
  height: 16px;
}
