.present {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.present__food {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/present-cat.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: 279px 289px;
  width: 279px;
  height: 289px;
  margin: 0;
  padding: 0;
}

.present__image {
  color: #000000;
}

.present__slogan {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
