.product {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

.product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.product__list {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product__order {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: hsl(97, 53%, 47%);
  display: block;
  width: 100%;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .product__order {
    display: block;
    width: 100%;
    text-align: center;
  }

  .product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .product__list {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product__order {
    display: block;
    width: 244px;
    margin-left: 38px;
    text-align: center;
    height: 40px;
    box-sizing: border-box;
  }

  .product__list {
    margin: 16px 0;
  }
}
