.slider {
  margin: 0;
}

.slider__list {
  display: flex;
  margin: 0 auto;
}

.slider__image-after {
  display: none;
}

.slider__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 92%);
  color: #000000;
  display: flex;
  width: 199px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px 0;
}

.slider__text button {
  border: 0;
  border-bottom: 1px dashed #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
}


.slider__text button:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.slider__text button:focus {
  opacity: 0.3;
}

.slider__text button:active {
  border: 0;
}

.slider__text label {
  border: none;
  background-color: hsl(0, 0%, 92%);
}

.slider__toggles {
  margin: 4px 0;
  margin-left: 11px;
  position: relative;
  width: 85px;
  height: 14px;
  display: inline-block;
}

.slider__range {
  display: none;
}

.slider__toggles .slider__checkbox {
  display: none;
}

.slider__toggles .slider__toggle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 6px;
  cursor: pointer;
}

.slider__toggles .slider__toggle:active {
  border: 1px solid hsl(97, 53%, 47%);
}

.slider__toggles .slider__toggle:focus {
  opacity: 0.3;
}

.slider__toggles .slider__toggle::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 6px;
  left: 6px;
  top: 3px;
  background-color: hsl(97, 53%, 47%);
  border-radius: 6px;
  transition: 0.3s;
}

.slider__toggles:focus .slider__toggle::before {
  background-color: #7fff00;
}

.slider__checkbox:checked + .slider__toggle {
  background-color: hsl(0, 0%, 95%);
}

.slider__checkbox:checked + .slider__toggle::before {
  transform: translateX(37px);
}

@media (min-width: @tablet-width) {
  .slider__text {
    width: 570px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 47px;
    padding-top: 24px;
  }

  .slider__text button {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .slider {
    margin: 0 auto;
  }

  .slider__item {
    width: 296px;
    margin-top: -170px;
    height: 511px;
  }

  .slider__toggles {
    display: none;
  }

  .slider__image-after {
    display: block;
  }

  .slider__range {
    display: inline-block;
    appearance: none;
    width: 426px;
    height: 6px;
    background-color: hsl(0, 0%, 86%);
    outline: none;
    transition: opacity 0.2s;
    border-radius: 6px;
  }

  .slider__range:hover {
    opacity: 1;
  }

  .slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cellipse cx='3.99999' cy='4' rx='3.98131' ry='4' fill='%2368B738'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    border: 9px solid #ffffff;
    outline: 1px solid hsl(0, 0%, 80%);
    border-radius: 50%;
    cursor: pointer;
    background-size: 100% 100%;
  }
}

@media (min-width: @desktop-width) {
  .slider__item {
    margin: 0;
    margin-top: -181px;
  }

  .slider__toggles {
    display: none;
  }

  .slider__text {
    background-color: hsl(0, 0%, 95%);
    width: 592px;
    margin-right: 8px;
  }

  .slider {
    background-color: hsl(0, 0%, 95%);
  }

  .slider__text-before {
    margin-left: 23px;
  }

  .slider__list {
    margin-left: 46px;
  }
}
