.social {
  margin: 0;
  padding: 0 100px;
}

.social__list {
  display: flex;
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  color: #666666;
  list-style-type: none;
  margin: 23px auto;
  justify-content: space-between;
  padding: 0;
}

.social__item {
  margin: 0;
}

.social__list li {
  margin: 0 15px;
}
